form {
  display: flex;

  input {
    padding: 0.75rem;
    background-color: $off-white;
    border: 1px solid #e0e0e0;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    line-height: 0;

    &::placeholder {
      color: $grey-mid;
    }

    &:hover {
      background-color: lighten($color: $off-white, $amount: 5%);
      transition: $transition;
    }

    @include breakpoint(tablet) {
      margin-bottom: 0;
    }
  }

  button {
    background-color: $dark;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background-color: lighten($color: $dark, $amount: 5%);
      transition: $transition;
    }
  }

  &[name="set-user-form"] {
    flex-direction: column;
    padding: 1rem;

    input {
      margin-bottom: 0.5rem;
    }
    button {
      margin-top: 0.5rem;
      padding: 0.75rem 0.5rem;
      width: 100%;
    }

    @include breakpoint(tablet) {
      width: 75%;
      margin: 0 auto;
    }
    @include breakpoint(desktop) {
      width: 50%;
      margin: 0 auto;
    }
  }

  &[name="chat-form"] {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    width: calc(100% - 1rem);
    max-width: $max-page-width;
    background-color: #ffffff;

    @include breakpoint(tablet) {
      width: 100%;
      left: initial;
    }

    input {
      margin-right: 0.5rem;
      flex-basis: 100%;
    }

    button[type="submit"] {
      border-radius: 50%;
      // padding: 0 0.75rem;
      width: 60px;
      height: 45px;
      position: relative;

      .icon-send {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 28px;
      }
    }
  }
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  // display: inline-block;
  background-color: $dark;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  // flex-basis: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  button {
    width: 45px;
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    opacity: 0;
  }
}
