.header {
  padding: rem-calc(12) 0;
  background-color: color(gray-900);
  color: color(white);

  &__user-image {
    @extend .margin-right-xs;
    border-radius: 50%;
    height: 28px;
  }

  a {
    text-decoration: none;
  }

  &__title {
    @extend .padding-y-xs, .padding-x-sm;
    background-color: color(white);
    color: color(gray-900);
    border-radius: 0.25rem;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
}
