body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Nunito Sans", Arial, Helvetica, sans-serif;
  height: 100vh;
}

p {
  margin: 0;
}

button,
input {
  outline: none;
}

@import "./abstract/variables";
@import "./abstract/breakpoints";

@import "./components/main";
@import "./components/_header";
@import "./components/_message";
@import "./components/_form";
