body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Nunito Sans", Arial, Helvetica, sans-serif;
  height: 100vh;
}

p {
  margin: 0;
}

button,
input {
  outline: none;
}

main {
  margin: 1rem 0;
  max-width: 1000px;
  margin: 0 auto;
  height: calc(100% - 10.5rem);
}

@media screen and (min-width: 1024px) {
  main {
    height: calc(100% - 9rem);
  }
}

main .chat-display-area {
  height: 100%;
  overflow-y: scroll;
}

.header {
  padding: 1rem;
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.header__user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__user-image {
  border-radius: 50%;
  margin-right: 0.5rem;
  height: 28px;
}

.header__title, .header__user {
  margin: 0;
  color: #eeeeee;
}

.header a {
  text-decoration: none;
}

.header__title {
  background-color: #ffffff;
  color: #333333;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  text-transform: uppercase;
}

form {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form input {
  padding: 0.75rem;
  background-color: #eeeeee;
  border: 1px solid #e0e0e0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  line-height: 0;
}

form input::-webkit-input-placeholder {
  color: #888888;
}

form input:-ms-input-placeholder {
  color: #888888;
}

form input::-ms-input-placeholder {
  color: #888888;
}

form input::placeholder {
  color: #888888;
}

form input:hover {
  background-color: #fbfbfb;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (min-width: 568px) {
  form input {
    margin-bottom: 0;
  }
}

form button {
  background-color: #333333;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

form button:hover {
  background-color: #404040;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

form[name="set-user-form"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form[name="set-user-form"] button {
  margin-top: 0.5rem;
  padding: 0.75rem 0.5rem;
  width: 100%;
}

@media screen and (min-width: 568px) {
  form[name="set-user-form"] {
    width: 75%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  form[name="set-user-form"] {
    width: 50%;
    margin: 0 auto;
  }
}

form[name="chat-form"] {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 2rem);
  max-width: 1000px;
  background-color: #ffffff;
}

@media screen and (min-width: 568px) {
  form[name="chat-form"] {
    width: 100%;
    left: initial;
  }
}

form[name="chat-form"] input {
  margin-right: 0.5rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

form[name="chat-form"] button {
  border-radius: 50%;
  font-size: 1.25rem;
  padding: 0 0.75rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 45px;
}

.message {
  background-color: #333333;
  border-radius: 0.75rem;
  padding: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin: 0.125rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message__author, .message__timestamp {
  font-family: Arial, Helvetica, sans-serif;
  color: #aaaaaa;
  font-size: 0.625rem;
  font-weight: lighter;
}

.message__timestamp {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.message__text {
  color: #eeeeee;
  font-size: 0.75rem;
  margin: 0.5rem 0rem;
}

.message-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message-container--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.message-container--left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.toast {
  width: 100%;
  font-size: 0.625rem;
  text-align: center;
  margin: 0.5rem 0;
  color: #888888;
}
/*# sourceMappingURL=style.css.map */