.grid-container {
  margin: 0 auto;
  max-width: rem-calc($max-body-width);
  padding-left: rem-calc($grid-gutter);
  padding-right: rem-calc($grid-gutter);
}

.flex {
  --flex-grid-cols: 12;

  width: 100%;
  display: flex;

  .cell {
    width: auto;
  }
}

@each $breakpoint, $breakpoint-value in (sm: small, md: medium, lg: large) {
  @for $i from 1 through 12 {
    .#{$breakpoint}\:cell-#{$i} {
      @include breakpoint($breakpoint-value) {
        width: $i/12 * 100%;
      }
    }
    .#{$breakpoint}\:offset-cell-#{$i} {
      @include breakpoint($breakpoint-value) {
        margin-left: $i/12 * 100%;
      }
    }
  }
}

/* ALIGNMENT */
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

.align-space-between {
  align-items: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}
