form {
  padding: 1rem;
  display: flex;

  input {
    padding: 0.75rem;
    background-color: $off-white;
    border: 1px solid #e0e0e0;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    line-height: 0;

    &::placeholder {
      color: $grey-mid;
    }

    &:hover {
      background-color: lighten($color: $off-white, $amount: 5%);
      transition: $transition;
    }

    @include breakpoint(tablet) {
      margin-bottom: 0;
    }
  }

  button {
    background-color: $dark;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background-color: lighten($color: $dark, $amount: 5%);
      transition: $transition;
    }
  }

  &[name="set-user-form"] {
    flex-direction: column;

    button {
      margin-top: 0.5rem;
      padding: 0.75rem 0.5rem;
      width: 100%;
    }

    @include breakpoint(tablet) {
      width: 75%;
      margin: 0 auto;
    }
    @include breakpoint(desktop) {
      width: 50%;
      margin: 0 auto;
    }
  }

  &[name="chat-form"] {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 2rem);
    max-width: $max-page-width;
    background-color: #ffffff;

    @include breakpoint(tablet) {
      width: 100%;
      left: initial;
    }

    input {
      margin-right: 0.5rem;
      flex-basis: 100%;
    }

    button {
      border-radius: 50%;
      font-size: 1.25rem;
      padding: 0 0.75rem;
      // width: 45px;
      width: max-content;
      height: 45px;
    }
  }
}
