.header {
  padding: 1rem;
  background-color: $darkest;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;

  &__title,
  &__user {
    margin: 0;
    color: $off-white;
  }

  a {
    text-decoration: none;
  }

  &__title {
    background-color: #ffffff;
    color: $dark;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
}
