.message {
  background-color: #333333;
  border-radius: 0.75rem;
  padding: 0.5rem;
  width: max-content;
  min-width: max-content;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;

  &__author,
  &__timestamp {
    font-family: Arial, Helvetica, sans-serif;
    color: #aaaaaa;
    font-size: 0.75rem;
    font-weight: lighter;
  }

  &__timestamp {
    align-self: flex-end;
  }

  &__text {
    color: #eeeeee;
    font-size: 1rem;
    margin: 0.5rem 0rem;
  }
}

.message-container {
  width: 100%;
  display: flex;

  &--right {
    justify-content: flex-end;
  }

  &--left {
    justify-content: flex-start;
  }
}
