/* FONTS */
/* Gilroy */
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("../assets/fonts/Gilroy/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"),
    url("../assets/fonts/Gilroy/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("../assets/fonts/Gilroy/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
/* Work Sans */
@font-face {
  font-family: "Work Sans";
  src: local("WorkSans Bold"), local("WorkSans-Bold"),
    url("../assets/fonts/WorkSans/WorkSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: local("WorkSans Regular"), local("WorkSans-Regular"),
    url("../assets/fonts/WorkSans/WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: local("WorkSans Light"), local("WorkSans-Light"),
    url("../assets/fonts/WorkSans/WorkSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
