$breakpoints: (
  small: 320,
  medium: 568,
  large: 1024
);

@function breakpoint-size($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}

@mixin breakpoint($breakpoint) {
  @media screen and (min-width: rem-calc(breakpoint-size($breakpoint))) {
    @content;
  }
}
