$colors: (
  primary: #147dff,
  gray-100: #f5f7fa,
  gray-300: #b0bfd4,
  gray-500: #8fa3bf,
  gray-700: #597196,
  gray-900: #2e476e,
  white: #ffffff,
  black: #000000
);

@function color($color) {
  @return map-get($map: $colors, $key: $color);
}
