$max-page-width: 1000px;

// COLORS
$darkest: #111111;
$dark: #333333;
$grey-dark: #555555;
$grey-mid: #888888;
$grey-light: #aaaaaa;
$off-white: #eeeeee;

$min-radius: 0.5rem;
$mid-radius: 0.75rem;
$max-radius: 1rem;

// TRANSITIONS
$transition: 0.3s;
