* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Nunito Sans", Arial, Helvetica, sans-serif;
  height: 100vh;
}

p {
  margin: 0;
}

button,
input {
  outline: none;
}

@import "./abstract/typography";
@import "./abstract/variables";
@import "./abstract/utils";
@import "./abstract/colors";
@import "./abstract/transitions";
@import "./abstract/breakpoints";

@import "./base/spacings";

@import "./components/button";
@import "./components/_header";
@import "./components/_form";
@import "./components/_message";
@import "./components/_toast";

@import "./layout/flex";
